<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_FixerIo>
            <version>1.0.0</version>
        </Loewenstark_FixerIo>
    </modules>
    <global>
        <blocks>
            <lomfixerio>
                <class>Loewenstark_FixerIo_Block</class>
            </lomfixerio>
        </blocks>
        <helpers>
            <lomfixerio>
                <class>Loewenstark_FixerIo_Helper</class>
            </lomfixerio>
        </helpers>
        <models>
            <lomfixerio>
                <class>Loewenstark_FixerIo_Model</class>
            </lomfixerio>
        </models>
        <currency>
            <import>
                <services>
                    <lomfixerio>
                        <name>fixer.io</name>
                        <model>lomfixerio/currency_import_fixerio</model>
                    </lomfixerio>
                </services>
            </import>
        </currency>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_system_currency_index>
                <observers>
                    <lomfixerio>
                        <class>lomfixerio/observer</class>
                        <method>eventSetCurrencyRateService</method>
                    </lomfixerio>
                </observers>
            </controller_action_predispatch_adminhtml_system_currency_index>
        </events>
    </adminhtml>
    <default>
        <currency>
            <lomfixerio>
                <mode>free</mode>
                <timeout>10</timeout>
                <tlscheck>0</tlscheck>
            </lomfixerio>
        </currency>
    </default>
</config>